#footer-latam {
    display: block;
}

#footer-latam .container:before, #footer-latam .container:after, #footer-latam .row:before, #footer-latam .row:after {
    content:" ";
}

#footer-latam .container:after, #footer-latam .row:after {
    clear: both;
}

#footer-latam .container {
    margin-right:auto;
    margin-left:auto;
    height: 36px;
}

#footer-latam .row {
    margin-right: auto;
    margin-left: auto;
    width: 960px;
}

#footer-latam .col-md-2 {
    width: 16.66666667%;
}

#footer-latam .col-md-2, #footer-latam .col-md-4 {
    position:relative;
    min-height:1px;
    padding-right:15px;
    padding-left:15px;
    float: left;
}

#footer-latam img {
    border:0;
    vertical-align:middle;
    width: 158px;
    height: 36px;
}

/* Set padding 0 */
#footer-latam .no-padding-left {
    padding-left: 0 !important;
}

#footer-latam .no-padding-right {
    padding-right: 0 !important;
}

#footer-latam .no-padding-top {
    padding-top: 0 !important;
}

#footer-latam .no-padding-bottom {
    padding-bottom: 0 !important;
}

#footer-latam .no-padding {
    padding: 0 !important;
}
/* Set margin 0 */
#footer-latam .no-margin-left {
    margin-left: 0 !important;
}

#footer-latam .no-margin-right {
    margin-right: 0 !important;
}

#footer-latam .no-margin-top {
    margin-top: 0 !important;
}

#footer-latam .no-margin-bottom {
    margin-bottom: 0 !important;
}

#footer-latam .no-margin {
    margin: 0 !important;
}
/* Convert to ems */
/* ex: .get-em(max-width, 653px); */
/* Columns Grid Generato LOL!!!!!*/

#footer-latam .bg-gray {
    background: #9b9b9b;
}

#footer-latam .container-xs-height {
    display: table;
    padding-left: 0px;
    padding-right: 0px;
}

#footer-latam .row-xs-height {
    display: table-row;
}

#footer-latam .col-xs-height {
    display: table-cell;
    float: none;
}

/* vertical alignment styles */
#footer-latam .col-top {
    vertical-align: top;
}

#footer-latam .col-middle {
    vertical-align: middle;
}

#footer-latam .col-bottom {
    vertical-align: bottom;
}
/* fix firefox responsive images */
#footer-latam .img-responsive {
    width: 100%;
}

#footer-latam .footer-headLineH3 {
    font-size: 16px;
    color: #033d7d;
    margin-top: 0;
    margin-bottom: 20px;
}

#footer-latam .footer-headLineH4 {
    font-size: 11px;
    color: #ffffff;
    margin-top: 0;
}

#footer-latam .footer-unorderedList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#footer-latam .footer-unorderedList--social {
    margin: 20px 0;
}

#footer-latam .footer-unorderedList--extra {
    display: table;
}

#footer-latam .footer-unorderedList--legal {
    display: inherit;
}

#footer-latam .footer-unorderedItem--social {
    vertical-align: top;
}

#footer-latam .footer-unorderedItem--links {
    margin-bottom: 10px;
}

#footer-latam .footer-unorderedItem--links:last-child {
    margin-bottom: 0;
}

#footer-latam .footer-unorderedItem--extra {
    width: 1%;
    margin-bottom: 0;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

#footer-latam .footer-unorderedItem--legal p {
    color: #999999;
    width: 100%;
    text-align: left;
    display: block;
    margin-bottom: 10px;
    vertical-align: middle;
}

#footer-latam .footer-unorderedItem--tam {
    margin-bottom: 12px;
}

#footer-latam .footer-unorderedItem--tam:last-child {
    margin-bottom: 0;
}

#footer-latam .footer-unorderedItem--awards {
    display: inline-block;
    padding: 0;
}

#footer-latam .footer-unorderedLink {
    display: block;
}

#footer-latam .footer-unorderedLink--links {
    font-size: 12px;
    color: #666666;
}

#footer-latam .footer-unorderedLink--links:hover {
    text-decoration: underline;
}

#footer-latam .footer-content {
    background: #e1e1e1;
}

#footer-latam .footer-socialLinks {
    text-align: right;
}

#footer-latam .footer-contentLinks {
    margin-bottom: 30px;
}

#footer-latam .footer-contentExtra {
    border-top: 1px solid #a5a5a5;
    padding: 30px 0;
    margin: 0;
}

#footer-latam .footer-paragraph--extra {
    color: #606060;
    font-size: 12px;
    margin-bottom: 0;
}

#footer-latam .footer-paragraph--legal p {
    font-size: 12px;
    color: #999999;
    margin-bottom: 15px;
}

#footer-latam .footer-paragraph--legal p:last-child {
    margin-bottom: 0;
}

#footer-latam .footer-paragraph--copy {
    font-family: Latam-Sans-Regular, arial, sans-serif;
    font-size: 14px;
    line-height: 120%;
    color: #bfbfbf;
    display: inline;
}

#footer-latam .footer-paragraph-line:before {
   content: '-';
   margin-right: 5px;
   color: #ed1650;   
}

#footer-latam .footer-paragraph--copy:last-child {
    margin-bottom: 0;
}

#footer-latam .footer-contentLegal {
    line-height: 100%;
}

#footer-latam .footer-process {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #1b0088;
    border-top: 3px solid #ed1650;
}

#footer-latam .footer-processCertificate {
    font-size: 0;
}

#footer-latam .footer-processCertificateImage {
    margin-right: 10px;
}

#footer-latam .footer-processCertificateImage:last-child {
    margin-right: 0;
}

#footer-latam div.lan {
	background: url("/images/footer/sprite_footer_personas.png") no-repeat;
	background-position : 0px -90px;
    width: 130px;
    height: 75px;
}
#footer-latam div.footer-processCopy {
    text-align: left !important;
}

#footer-latam .col-md-9 {
    width: 75%;
}

#footer-latam div.row {
    display: table !important;
}

#footer-latam div.right {
    text-align: right;
}

/* Estilos para fijar el footer en la zona inferior */

html, body {
    height: 100%;
}

div.wrapper {
    min-height: 100%;
}

div.wrapper .blue-wrapper,
div.wrapper #externo,
div.wrapper-content {
	/*overflow:auto;*/
	padding-bottom: 79px;
}

div.wrapper .blue-wrapper #externo {
	padding-bottom: 0;
}

#footer-latam {
    position: relative;
    margin-top: -79px;
    height: 79px;
    clear:both;
}
