@import url('country-selector.css');
#body-hf .container {
    font-family: "Latam-Sans-Regular", arial, sans-serif; 
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    background: none;
    width: 960px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 36px;
}
#body-hf .row {
    margin: 0;
}
#body-hf .col-xs-2, #body-hf .col-md-3, #body-hf .col-xs-5, #body-hf .col-sm-5, #body-hf .col-xs-12 {
    position: relative;
    min-height: 1px;
}
#body-hf .col-xs-2, #body-hf .col-xs-5, #body-hf .col-xs-12 {
    float: left;
}
#body-hf .col-xs-12 {
    width: 100%;
}
#body-hf .col-xs-5 {
    width: 41.66666667%;
}
#body-hf .col-xs-2 {
    width: 16.66666667%;
}
#body-hf .col-sm-5 {
    float: left;
    width: 41.66666667%;
}
#body-hf .col-md-3 {
    float: left;
    width: 25%;
}
#body-hf .col-md-9 {
    float: left;
    width: 75%;
}
#body-hf .col-xs-10 {
    float: left;
    width: 83.33%;
}
@font-face {
    font-family: 'iconos-latam';
    src: url('https://s.latamstatic.com/css/sitio_personas/regulaciones/fonts/iconos/iconos-latam.eot#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'iconos-latam';
    src: url('https://s.latamstatic.com/css/sitio_personas/regulaciones/fonts/iconos/iconos-latam.woff') format('woff'),
    url('https://s.latamstatic.com/css/sitio_personas/regulaciones/fonts/iconos/iconos-latam.ttf') format('truetype'),
    url('https://s.latamstatic.com/css/sitio_personas/regulaciones/fonts/iconos/iconos-latam.svg#iconos-latam') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Latam-Sans-Regular';
    font-style: normal;
    font-weight: normal;
    src: url('https://s.latamstatic.com/files/fonts/Latam_Sans_Regular.woff2') format('woff2'),
    url('https://s.latamstatic.com/files/fonts/Latam_Sans_Regular.woff') format('woff'),
    url('https://s.latamstatic.com/files/fonts/Latam_Sans_Regular.ttf') format('truetype'),
    url('https://s.latamstatic.com/files/fonts/latam_sans_regular-webfont.eot') format('embedded-opentype'),
    url('https://s.latamstatic.com/files/fonts/latam_sans_regular-webfont.eot?#iefix') format('embedded-opentype');
}
#body-hf [class^="icon-"],
#body-hf [class*="icon-"] {
    font-family: 'iconos-latam';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: #666666;
    width: auto;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#body-hf .icon-caret-up:before {
    content: "\e60a";
}
#body-hf .icon-caret-down:before {
    content: "\e601";
}
#body-hf .icon-speech-help-negative:before {
    content: "\e66c";
}
#body-hf .icon-medium {
    font-size: 24px;
    font-size: 29px\0/;
}
#body-hf [class^="icon-"],
#body-hf [class*="icon-"] {
    float: left;
}
#body-hf img {
    vertical-align: middle;
}

#body-hf .container-xs-height {
    display: block;
    padding-left: 0px;
    padding-right: 0px;
}
#body-hf .row-xs-height {
    display: block;
}
#body-hf .col-xs-height {
    display: block;
    float: none;
}
/* vertical alignment styles */
#body-hf .col-top {
    vertical-align: top;
}
#body-hf label {
    font-weight: normal !important;
}
#body-hf a {
    color: inherit;
    text-decoration: none;
}
#body-hf a > [class^="icon-"],
#body-hf a > [class*="icon-"] {
    color: inherit;
    display: inline-block;
    text-decoration: none;
    line-height: 1;
    vertical-align: middle;
    margin: 0;
    width: auto;
}
#body-hf sup {
    position: relative;
}
#body-hf .container-xs-height {
    display: block;
    padding-left: 0px;
    padding-right: 0px;
}
#body-hf .row-xs-height {
    display: block;
}
#body-hf .col-xs-height {
    display: block;
    float: none;
}
/* vertical alignment styles */
#body-hf .col-top {
    vertical-align: top;
}
#body-hf .Header-content {
    width: 100%;
    top: 0;
    z-index: 200;
    margin-bottom: 20px;
}
#body-hf .Header-container--relative {
    position: relative;
}
#body-hf .Header-complementaryList {
    margin-bottom: 0;
    font-size: 0;
    padding: 0;
    margin-left: 0;
    position: relative;
}
#body-hf .Header-complementaryItem {
    color: #b8b8b8;
    font-size: 14px;
    line-height: 100%;
    display: inline-block;
    padding: 0;
    border: none;
}
#body-hf .Header-complementaryLink {
    padding: 0 10px;
    display: block;
    text-decoration: none !important;
}
#body-hf .Header-complementaryLink:hover,
#body-hf .Header-complementaryLink:focus {
    color: #b8b8b8 !important;
    text-decoration: underline !important;
}

#body-hf .Header-complementaryDivider {
    font-size: 14px;
    padding: 0;
}

#body-hf .Header-helpIcon {
    top: -0.3em;
}
#body-hf .Header-stepBar--stick {
    z-index: 300;
    width: 100%;
    background-color: #ffffff;
}
#body-hf .Header-logo {
    margin: 14px 0; 
}
@media (max-width: 959px){
    
    #body-hf .Header-logo {
        margin: 0;
    }
}
#body-hf .Header-logoBlock {
    display: inline-block;
    vertical-align: middle;
    border: 2px solid transparent;
}
#body-hf .Header-logoBlock:focus {
    border: 2px solid #1B0088;
}
#body-hf .Header-logoOneWorld {
    margin: 10px 0;
    position: absolute;
}
#body-hf .Header-logoImg {
    width: 152px;
    height: 48px;
}
#body-hf a.Header-logoImg:focus {
    border: 2px solid #b8b8b8;
}
#body-hf .Header-logoImg--sub {
    width: 28px !important;
    height: 28px !important;
    max-width: 28px !important;
}
#body-hf .Header-stepBar--wPadding {
    padding: 0;
}
#body-hf .Header-stepBar--main {
    background-color: #1B0088;
    /* IE6-9 */
    height: 36px;
}
#body-hf .Header-logoLink {
    border: 2px solid transparent;
    margin-right: 40px;
}
@media (max-width: 959px){
    #body-hf .Header-logoLink {
        border: none;
    }
}
#body-hf .countrySelector-new {
    text-align: left;
}
#body-hf .countrySelector-new:focus {
    background-color: #fefefe;
    outline: none;
}
#body-hf .countrySelector-new:hover {
    background-color: #f0f1f0;
    color: #150067;
}
#body-hf .countrySelector-new-flagLink {
    padding: 10px 8px;
    display: block;
    text-decoration: none !important;
    border: 2px solid transparent;
}
#body-hf .countrySelector-new-flagLink:hover {
    text-decoration: none;
}
#body-hf .countrySelector-new-flagImage {
    -webkit-transform:scale(0.567,0.5) translateY(4px);-ms-transform:scale(0.567,0.5) translateY(4px);transform:scale(0.567,0.5) translateY(4px);-webkit-transform-origin:0 0;-ms-transform-origin:0 0;transform-origin:0 0; width: 30px !important;
}

#body-hf .countrySelector-new-flagCaret {
    float: none !important;
    vertical-align: middle;
}
#body-hf .countrySelector-new.isOpen {
    background-color: #f3f3f3;
}
#body-hf .countrySelector-new-dropDown {
    position: absolute;
    width: 910px;
    background-color: #f3f3f2;
    z-index: 400;
    padding: 20px 15px;
    overflow: hidden;
    display: none;
    min-height: 230px;
    opacity: 0.97;
    border: 1px solid #f3f3f2;
    border-radius: 0 0 1px 1px;
    box-shadow: 0 1px 1.68px 1.32px rgba(0,2,0,0.5);
    left: 0;
}
#body-hf .countrySelector-new-dropDown.isOpen {
    display: block;
}
#body-hf .countrySelector-new-unorderedList {
    float: left;
    margin-left: 50px;
    padding: 0;
}
#body-hf .countrySelector-new-unorderedList:first-child {
    margin-left: 0 ;
}
#body-hf .countrySelector-new-unorderedItem {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: "Latam-Sans-Regular", arial, sans-serif; 
    color: #666666;
}
#body-hf .countrySelector-new-unorderedItem--title {
    margin-bottom: 20px;
    color: #666666;
    font-weight: bold;
    font-size: 14px;
}
#body-hf .countrySelector-new-unorderedItem--sub {
    margin-top: 40px;
}
#body-hf .countrySelector-new-unorderedLink {
    display: block;
    color: #666666;
    padding: 0;
}
#body-hf .countrySelector-new-unorderedLink:hover {
    color: #666666;
    text-decoration: underline;
}
#body-hf .countrySelector-new-unorderedFlag {
    width: 17px;
    height: 11px;
    margin-right: 15px;
}
#body-hf .countrySelector-new-flagCaret {
    font-size: 10px;
}
#body-hf .countrySelector-new.isOpen .countrySelector-new-flagCaret:before {
    color: #150067;
}
#body-hf .clearfix {
    clear: both;
}
#accesos_top_right
#accesos_top_right_no_log {
    margin-top: -183px;
    font-size: 13px;
}

/* Estilos para Skip to Content*/
.stickSkipBar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    opacity: 0;
}

.stickSkipBar.showSkip{
    height: 56px;
    background: #fff;
    opacity: 1;
}

.stickSkipBar .stickyWrap {
    width: 970px;
    height: auto;
    margin: 0 auto;
    padding: 0;
}

a.lan-skip-to-content {
    color: #1B0088;
    text-decoration: underline;
    font-size: 14px;
    margin: 10px 0px;
    padding: 10px;
    line-height: 1;
    position: absolute;
}

a.lan-skip-to-content:visited {
    color: #0267c3;
    text-decoration: underline;
}

a.lan-skip-to-content:focus {
    color: #1B0088;
    text-decoration: underline;
    outline: 2px solid #1B0088;
    font-size: 14px;
    margin: 10px 0px;
    padding: 10px;
    line-height: 1;
    position: absolute;
}

.stickyBar.showSkip{
    top: 56px;
}

#body-hf.showSkip{
   margin-top: 56px;
}

.headerLan.showSkip{
    margin-top: 56px;
}

#start-of-content:focus {
  outline: none;
}

#contenido-proceso:focus {
  outline: none;
}

#body-hf .Header-complementaryItem a sup {
    float:left !important;
    padding-right: 10px;
    line-height: 100%;
}

#body-hf .Header-complementaryItem a {
    border: 2px solid transparent;
}

#body-hf a:focus {
    border: 2px solid #b8b8b8;
    box-shadow: none !important;
    outline-style: none !important;
}

#body-hf a:hover {
    color: #150067;
}
#body-hf .countrySelector-new-flagLink span:first-child {
    text-transform: uppercase;
    padding-right: 5px;
}
#body-hf .Header-complementaryItem a {
    padding: 9px 10px;
}
#body-hf #header-dropDown a {
    padding: 5px;
    height: 14px;
    position: relative;
    line-height: 100%;
}

#body-hf #header-dropDown a:focus {
    border: 2px solid #1B0088;
    text-decoration: underline;
}

#body-hf #header-countrySelector.isOpen {
    color: #150067;
}

#body-hf span.countrySelector-flagIcon {
    position: absolute;
    top: 50%;
    margin-top: -7px;
    margin-top: -6px\0/;
}

#body-hf span.countrySelector-flagText {
    margin-left: 30px !important;
    font-size: 14px;
}
@media (max-width: 959px) {

   #body-hf span.countrySelector-flagText {
        padding-left: 20px;
    } 
}

#body-hf div.right {
    text-align: right;
}

#body-hf #zona-login {
    display: none;
}