.voucher-container-offline {
	border: 1px solid #CCC !important;
	border-radius: 3px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	margin: 0px 0px 35px 0px !important;
	padding: 15px 8px !important;
	overflow: hidden;
}

div .voucher-data-item {
	font-family: Arial, Helvetica, sans-serif;
	font: 12px Arial, Helvetica, sans-serif;
	color: #333;
	margin: 0 0 10px;
	display: block;
}

.voucher-button-container {
	padding-top: 20px;
	float: right;
}

.voucher-title-online {
	display: none;
}
